<h1> Welcome To The Caravan </h1>
<%= flash[:message] if flash[:message]%>
<%= form_for :user do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email, required: true %>
<br>
<br>
    <%= f.label :password %>
    <%= f.password_field :password, required: true %>
<br>
<br>
    <%= f.submit "Login" %>
    <%= link_to "Sign in with Google", 'auth/google_oauth2' %>

<%end%>

<%= link_to "Sign up", signup_path %>