<h1> User Home </h1>
    <% if admin%>
        <%= link_to "Create Adventure", new_user_adventure_path(@user) %> 
    <%end%>
<br>
<br>
    <%= link_to "Add Party Member!", new_user_character_path(@user) %> 
<br>
    <%= link_to "Current Party", user_characters_path(@user) %> 
<br>
<br>
<h2>Adventures</h1>
    <% Adventure.all.each do |adv| %>
        <%= link_to adv.title, adventure_path(adv) %>
        <br>
        <%=  status(adv) %>
        <br>
        <p>
        <%= adv.flavor%>
        </p>
    <% end %> 
<%# Add User log in check%>