<h1> New Adventure </h1>

<%= form_for(@adventure) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, required: true %>
<br>
<br>
    <%= f.label :flavor %>
    <%= f.text_area :flavor, required: true, size: "50x10" %>
<br>
<br>
    <%= f.label :boss %>
    <%= f.text_field :boss, required: true %>
<br>
<br>
    <%= f.label :boss_lv %>
    <%= f.number_field :boss_lv, required: true %>
<br>
<br>    
    <%= f.label :clavat_difficulty %>
    <%= f.number_field :clavat_difficulty, required: true %>
<br>
<br>    
    <%= f.label :lilty_difficulty %>
    <%= f.number_field :lilty_difficulty, required: true %>
<br>
<br>    
    <%= f.label :selkie_difficulty %>
    <%= f.number_field :selkie_difficulty, required: true %>
<br>
<br>    
    <%= f.label :yuke_difficulty %>
    <%= f.number_field :yuke_difficulty, required: true %>
<br>
<br>    


    <%= f.submit "Submit" %>
<%= flash[:message] if flash[:message]%>
<%end%>