<h1>Adventure Details</h1>
    <% flash.each do |type, msg| %>
    <h2>
        <%= msg %>
    </h2>
    <% end %>

<% if admin%>
    <%= link_to "Edit Adventure", edit_adventure_path %> |
    <%= link_to "Delete Adventure", adventure_path, :method => :delete %>
<%end%>

<h2><%= current_adventure.title%></h2>

<br>
<br>
<b> Boss name: <%= current_adventure.boss%> </b>
<p>
<%= current_adventure.flavor%>
<br>
<br>
<%= link_to "Adventures by #{current_adventure.user.email}", user_adventures_path(current_adventure.user) %>
</p>
<% if !current_user.characters.empty?%>
<%= form_for :battle do |f| %>
     <p>
        <b>Select your difficulty</b>
        <%= f.radio_button :bonus, 0, required: true %> Normal
        <%= f.radio_button :bonus, 2, required: true %> Easy
    </p>
<br>
<br>
    <%= f.submit "Begin" %>

<% end %>
<% end %>



