<h1>Adventure Details</h1>
<% flash.each do |type, msg| %>
        <h2>
        <%= msg %>
        </h2>
    <% end %>
<% if admin%>
        <%= link_to "Edit Adventure", edit_adventure_path %> 
        <br>
        <br>
        <%= link_to "Delete Adventure", adventure_path, :method => :delete %>
    <%end%>
<h2><%= @adventure.title%></h2>
<b> Boss name: <%= @adventure.boss%> </b>
<p>
<%= @adventure.flavor%>
</p>
<% if !current_user.characters.empty?%>
<%= button_to 'Start Adventure', {:controller => "battles", :action => "create", :adventure_id => @adventure.id}, :method => :post %>
<% end %>



   