<h1>Welcome to the party!</h1>
<% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>

<%= form_for(@character) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, required: true %>
<br>
<br>
<p>
    <b>Tribe</b>
    <%= f.radio_button :tribe, 'Clavat', required: true %> Clavat
    <%= f.radio_button :tribe, 'Lilty', required: true %> Lilty
    <%= f.radio_button :tribe, 'Selkie', required: true %> Selkie
    <%= f.radio_button :tribe, 'Yuke', required: true %> Yuke
</p>
<br>
<br>
    <%= f.submit "Submit" %>
    
<%end%>