<h1>Battle Difficulty</h1>
<% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>

<%= form_for(@battle) do |f| %>
    
<p>
    <b>Select your difficulty</b>
    <%= f.radio_button :bonus, 0, required: true %> Normal
    <%= f.radio_button :bonus, 2, required: true %> Easy
</p>
<br>
<br>
    <%= f.submit "Begin" %>
    
<%end%>